html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility;
  color: #1d1d1d;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.background {
  background-color: #f2f2f2;
}

.nav {
  width: 100%;
  box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  /* align-content: center; */
  /* justify-content: center; */
}

.nav-section {
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  align-content: center;
}

.btn {
  display: inline-block;
  padding: 7px 15px;
  border-radius: 2px;
  font-size: 13px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
}

.search {
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(117, 117, 117, 0.3);
  margin-top: 40px;
  margin-bottom: 24px;
}

.search__input {
  position: relative;
  display: block;
  width: 100%;
  height: 24px;
  padding-left: 24px;
  border: none;
  background-color: transparent;
  background-image: url(./img/search.svg);
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: left;
  font-size: 13px;
  line-height: 24px;
  color: #1d1d1d;
  outline: none;
}

@media (min-width: 768px) {
  .search__input {
    padding-left: 30px;
    background-size: 22px;
    font-size: 16px;
    line-height: 24px;
  }
}

.search__input::placeholder {
  color: rgba(98, 98, 98, 0.5);
}


.header {
  font-size: 22px;
  line-height: 34px;
  font-weight:  400;
  margin: 0;
}

.card {
  margin-top: 16px;
}

.card__img {
  display: block;
  width: 100%;
  height: 256px;
  background-color:  #D8D8D8;
  object-fit: cover;
  object-position: center;
}

.card__header {
  margin-top: 16px;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1d1d1d;
}

.card__tags {
  margin-top: 4px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 21px;
  color: #626262;
}

.card__time {
  margin-top: 4px;
  margin-bottom: 20px;
  font-size: 13px;
  line-height: 21px;
  color: #1d1d1d;
}

.footer {
  display: block;
  margin-top: 80px;
  background-color: #262626;
}

.footer__section {
  border-bottom: solid 1px rgba(255,255,255,.4);
}

.footer__section-logo {
  padding-top: 56px;
  padding-bottom: 40px;
}

.footer__section-links {
  padding-top: 32px;
  padding-bottom: 40px;
}

.language-selector {
  position: relative;
  padding: 12px 32px 12px 48px;
  background-color: #3b3b3b;
  background-repeat: no-repeat;
  border-radius: 2px;
  border: none;
  margin-bottom: 16px;
  text-align: left;
  color: #ffffff;
}

.language-selector::before {
  position: absolute;
  left: 16px;
  content: url(./img/world.svg);
}
.language-selector::after {
  position: absolute;
  right: 8px;
  content: url(./img/chevron.svg);
}

.hashtag {
  display: block;
  margin-bottom: 16px;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
}

.hashtag_hash-sign {
  color: #49A144;
}

.social-block {
  display: block;
  margin-bottom: 32px;
}

.social-block__item {
  margin-right: 12px;
  width: 24px;
  height: 24px;
}

.footer__section-apps {
  display: flex;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.section-apps__app {
  margin-left: 12px;
  margin-right: 12px;
}

.footer__section-terms {
  padding-top: 24px;
  padding-bottom: 24px;
}

.footer-link_terms {
  font-size: 11px;
}

.footer-link {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 9px;
}